In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Dell\\Desktop\\dataset_diabetes\\diabetic_data.csv')

In [3]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

## Remove Duplicate DataPoints

In [4]:
df = df.drop_duplicates(subset=['patient_nbr'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71518 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              71518 non-null  int64
 1   patient_nbr               71518 non-null  int64
 2   race                      71518 non-null  object
 3   gender                    71518 non-null  object
 4   age                       71518 non-null  object
 5   weight                    71518 non-null  object
 6   admission_type_id         71518 non-null  int64
 7   discharge_disposition_id  71518 non-null  int64
 8   admission_source_id       71518 non-null  int64
 9   time_in_hospital          71518 non-null  int64
 10  payer_code                71518 non-null  object
 11  medical_specialty         71518 non-null  object
 12  num_lab_procedures        71518 non-null  int64
 13  num_procedures            71518 non-null  int64
 14  num_medications           71518 non-null  int64
 15  number_outpatient         71518 non-null  int64
 16  number_emergency          71518 non-null  int64
 17  number_inpatient          71518 non-null  int64
 18  diag_1                    71518 non-null  object
 19  diag_2                    71518 non-null  object
 20  diag_3                    71518 non-null  object
 21  number_diagnoses          71518 non-null  int64
 22  max_glu_serum             71518 non-null  object
 23  A1Cresult                 71518 non-null  object
 24  metformin                 71518 non-null  object
 25  repaglinide               71518 non-null  object
 26  nateglinide               71518 non-null  object
 27  chlorpropamide            71518 non-null  object
 28  glimepiride               71518 non-null  object
 29  acetohexamide             71518 non-null  object
 30  glipizide                 71518 non-null  object
 31  glyburide                 71518 non-null  object
 32  tolbutamide               71518 non-null  object
 33  pioglitazone              71518 non-null  object
 34  rosiglitazone             71518 non-null  object
 35  acarbose                  71518 non-null  object
 36  miglitol                  71518 non-null  object
 37  troglitazone              71518 non-null  object
 38  tolazamide                71518 non-null  object
 39  examide                   71518 non-null  object
 40  citoglipton               71518 non-null  object
 41  insulin                   71518 non-null  object
 42  glyburide-metformin       71518 non-null  object
 43  glipizide-metformin       71518 non-null  object
 44  glimepiride-pioglitazone  71518 non-null  object
 45  metformin-rosiglitazone   71518 non-null  object
 46  metformin-pioglitazone    71518 non-null  object
 47  change                    71518 non-null  object
 48  diabetesMed               71518 non-null  object
 49  readmitted                71518 non-null  object
dtypes: int64(13), object(37)
memory usage: 27.8+ MB

## Missing data

In [6]:
import numpy as np

In [7]:
for column in df.columns:
    df[column].replace('?', np.nan, inplace=True)

In [8]:
per_col_null = (df.isnull().sum(axis = 0))/(df.shape[0])

In [9]:
print(per_col_null)

encounter_id                0.000000
patient_nbr                 0.000000
race                        0.027238
gender                      0.000000
age                         0.000000
weight                      0.960108
admission_type_id           0.000000
discharge_disposition_id    0.000000
admission_source_id         0.000000
time_in_hospital            0.000000
payer_code                  0.434059
medical_specialty           0.482074
num_lab_procedures          0.000000
num_procedures              0.000000
num_medications             0.000000
number_outpatient           0.000000
number_emergency            0.000000
number_inpatient            0.000000
diag_1                      0.000154
diag_2                      0.004111
diag_3                      0.017129
number_diagnoses            0.000000
max_glu_serum               0.000000
A1Cresult                   0.000000
metformin                   0.000000
repaglinide                 0.000000
nateglinide                 0.000000
chlorpropamide              0.000000
glimepiride                 0.000000
acetohexamide               0.000000
glipizide                   0.000000
glyburide                   0.000000
tolbutamide                 0.000000
pioglitazone                0.000000
rosiglitazone               0.000000
acarbose                    0.000000
miglitol                    0.000000
troglitazone                0.000000
tolazamide                  0.000000
examide                     0.000000
citoglipton                 0.000000
insulin                     0.000000
glyburide-metformin         0.000000
glipizide-metformin         0.000000
glimepiride-pioglitazone    0.000000
metformin-rosiglitazone     0.000000
metformin-pioglitazone      0.000000
change                      0.000000
diabetesMed                 0.000000
readmitted                  0.000000
dtype: float64

### Delete features of irrelevant or high proportion of missing data

In [10]:
df.drop(columns = ['encounter_id', 'patient_nbr', 'weight', 'payer_code', 'medical_specialty'], inplace = True)

In [11]:
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,41,0,1,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,1,7,3,59,0,18,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,13,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,7,2,44,1,16,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,7,1,51,0,8,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [12]:
for column in df.columns:
    print('feature = {}'.format(column))
    table = df[column].value_counts()/len(df)
    print(table)

feature = race
Caucasian          0.747938
AfricanAmerican    0.180192
Hispanic           0.021211
Other              0.016471
Asian              0.006949
Name: race, dtype: float64
feature = gender
Female             0.531684
Male               0.468274
Unknown/Invalid    0.000042
Name: gender, dtype: float64
feature = age
[70-80)     0.254621
[60-70)     0.223161
[50-60)     0.174306
[80-90)     0.162043
[40-50)     0.096172
[30-40)     0.037739
[90-100)    0.026567
[20-30)     0.015758
[10-20)     0.007481
[0-10)      0.002153
Name: age, dtype: float64
feature = admission_type_id
1    0.510221
3    0.194594
2    0.182164
6    0.064152
5    0.044380
8    0.004069
7    0.000294
4    0.000126
Name: admission_type_id, dtype: float64
feature = discharge_disposition_id
1     0.619662
3     0.122822
6     0.115901
18    0.034593
2     0.021519
22    0.019715
11    0.015059
5     0.012766
25    0.010878
4     0.007565
7     0.005719
23    0.003635
13    0.003398
14    0.003048
28    0.001258
8     0.001021
15    0.000559
24    0.000350
9     0.000126
17    0.000112
10    0.000084
19    0.000084
27    0.000042
16    0.000042
12    0.000028
20    0.000014
Name: discharge_disposition_id, dtype: float64
feature = admission_source_id
7     0.535390
1     0.307713
17    0.069199
4     0.036117
6     0.025182
2     0.012948
5     0.007620
20    0.002167
3     0.001930
9     0.001328
8     0.000168
10    0.000098
22    0.000056
14    0.000028
25    0.000028
11    0.000014
13    0.000014
Name: admission_source_id, dtype: float64
feature = time_in_hospital
3     0.177592
2     0.173341
1     0.149850
4     0.133771
5     0.095626
6     0.072303
7     0.055916
8     0.040815
9     0.027825
10    0.021785
11    0.017352
12    0.013353
13    0.011116
14    0.009354
Name: time_in_hospital, dtype: float64
feature = num_lab_procedures
1      0.031950
43     0.026623
44     0.023225
45     0.022666
46     0.021547
         ...
132    0.000014
121    0.000014
107    0.000014
120    0.000014
118    0.000014
Name: num_lab_procedures, Length: 116, dtype: float64
feature = num_procedures
0    0.439470
1    0.199992
2    0.127940
3    0.100436
6    0.055315
4    0.042731
5    0.034117
Name: num_procedures, dtype: float64
feature = num_medications
13    0.060572
12    0.060418
11    0.057049
15    0.055287
14    0.054741
        ...
75    0.000028
72    0.000028
81    0.000014
79    0.000014
74    0.000014
Name: num_medications, Length: 75, dtype: float64
feature = number_outpatient
0     0.869879
1     0.068053
2     0.028315
3     0.015604
4     0.008180
5     0.004027
6     0.001790
7     0.001021
8     0.000797
9     0.000517
10    0.000392
11    0.000266
12    0.000196
13    0.000182
14    0.000140
15    0.000140
16    0.000112
17    0.000056
20    0.000056
27    0.000028
33    0.000028
24    0.000028
22    0.000028
18    0.000028
21    0.000028
19    0.000014
29    0.000014
42    0.000014
36    0.000014
26    0.000014
35    0.000014
25    0.000014
23    0.000014
Name: number_outpatient, dtype: float64
feature = number_emergency
0     0.927235
1     0.055441
2     0.011242
3     0.003440
4     0.001342
5     0.000461
6     0.000364
8     0.000126
7     0.000112
10    0.000070
9     0.000056
11    0.000028
13    0.000014
42    0.000014
25    0.000014
37    0.000014
20    0.000014
16    0.000014
Name: number_emergency, dtype: float64
feature = number_inpatient
0     0.881974
1     0.083364
2     0.021631
3     0.006837
4     0.003300
5     0.001426
6     0.000783
7     0.000266
8     0.000182
9     0.000112
10    0.000070
11    0.000028
12    0.000028
Name: number_inpatient, dtype: float64
feature = diag_1
414    0.073170
428    0.055650
786    0.042507
410    0.040577
486    0.034103
         ...
653    0.000014
61     0.000014
145    0.000014
148    0.000014
V51    0.000014
Name: diag_1, Length: 696, dtype: float64
feature = diag_2
250     0.070038
276     0.064375
428     0.060614
427     0.049484
401     0.043178
          ...
704     0.000014
911     0.000014
520     0.000014
E890    0.000014
927     0.000014
Name: diag_2, Length: 725, dtype: float64
feature = diag_3
250     0.126388
401     0.092117
276     0.048212
428     0.039808
427     0.037851
          ...
E882    0.000014
243     0.000014
171     0.000014
754     0.000014
971     0.000014
Name: diag_3, Length: 758, dtype: float64
feature = number_diagnoses
9     0.443804
5     0.125017
6     0.107539
7     0.106393
8     0.105708
4     0.062418
3     0.033055
2     0.012319
1     0.002699
16    0.000433
13    0.000140
10    0.000126
12    0.000098
15    0.000098
11    0.000084
14    0.000070
Name: number_diagnoses, dtype: float64
feature = max_glu_serum
None    0.951677
Norm    0.024204
>200    0.013549
>300    0.010571
Name: max_glu_serum, dtype: float64
feature = A1Cresult
None    0.818423
>8      0.088146
Norm    0.053008
>7      0.040423
Name: A1Cresult, dtype: float64
feature = metformin
No        0.790388
Steady    0.191812
Up        0.011717
Down      0.006082
Name: metformin, dtype: float64
feature = repaglinide
No        0.987052
Steady    0.011522
Up        0.001021
Down      0.000405
Name: repaglinide, dtype: float64
feature = nateglinide
No        0.993037
Steady    0.006628
Up        0.000224
Down      0.000112
Name: nateglinide, dtype: float64
feature = chlorpropamide
No        0.998993
Steady    0.000937
Up        0.000056
Down      0.000014
Name: chlorpropamide, dtype: float64
feature = glimepiride
No        0.947636
Steady    0.047149
Up        0.003286
Down      0.001930
Name: glimepiride, dtype: float64
feature = acetohexamide
No        0.999986
Steady    0.000014
Name: acetohexamide, dtype: float64
feature = glipizide
No        0.872675
Steady    0.113957
Up        0.008082
Down      0.005285
Name: glipizide, dtype: float64
feature = glyburide
No        0.890181
Steady    0.095249
Up        0.008683
Down      0.005887
Name: glyburide, dtype: float64
feature = tolbutamide
No        0.999734
Steady    0.000266
Name: tolbutamide, dtype: float64
feature = pioglitazone
No        0.925781
Steady    0.070570
Up        0.002517
Down      0.001133
Name: pioglitazone, dtype: float64
feature = rosiglitazone
No        0.934268
Steady    0.062781
Up        0.001902
Down      0.001049
Name: rosiglitazone, dtype: float64
feature = acarbose
No        0.997176
Steady    0.002685
Up        0.000140
Name: acarbose, dtype: float64
feature = miglitol
No        0.999720
Steady    0.000252
Down      0.000014
Up        0.000014
Name: miglitol, dtype: float64
feature = troglitazone
No        0.999958
Steady    0.000042
Name: troglitazone, dtype: float64
feature = tolazamide
No        0.999581
Steady    0.000419
Name: tolazamide, dtype: float64
feature = examide
No    1.0
Name: examide, dtype: float64
feature = citoglipton
No    1.0
Name: citoglipton, dtype: float64
feature = insulin
No        0.488283
Steady    0.309419
Down      0.104939
Up        0.097360
Name: insulin, dtype: float64
feature = glyburide-metformin
No        0.992981
Steady    0.006865
Up        0.000098
Down      0.000056
Name: glyburide-metformin, dtype: float64
feature = glipizide-metformin
No        0.999902
Steady    0.000098
Name: glipizide-metformin, dtype: float64
feature = glimepiride-pioglitazone
No    1.0
Name: glimepiride-pioglitazone, dtype: float64
feature = metformin-rosiglitazone
No        0.999972
Steady    0.000028
Name: metformin-rosiglitazone, dtype: float64
feature = metformin-pioglitazone
No        0.999986
Steady    0.000014
Name: metformin-pioglitazone, dtype: float64
feature = change
No    0.552225
Ch    0.447775
Name: change, dtype: float64
feature = diabetesMed
Yes    0.759515
No     0.240485
Name: diabetesMed, dtype: float64
feature = readmitted
NO     0.601038
>30    0.310971
<30    0.087992
Name: readmitted, dtype: float64

### Delete Imbalance Feature

In [13]:
df.drop(columns = ['repaglinide', 'nateglinide', 'chlorpropamide', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
                  'examide', 'citoglipton', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone',
                  'metformin-rosiglitazone', 'metformin-pioglitazone', 'acetohexamide', 'tolbutamide'], inplace = True)

In [14]:
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,41,0,1,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,1,7,3,59,0,18,...,No,No,No,No,No,No,Up,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,13,...,No,No,Steady,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,7,2,44,1,16,...,No,No,No,No,No,No,Up,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,7,1,51,0,8,...,No,No,Steady,No,No,No,Steady,Ch,Yes,NO

### Fill Missing data

In [15]:
df['race'] = df['race'].replace('nan', 'Other')

In [16]:
df['race'].value_counts()

Caucasian          53491
AfricanAmerican    12887
Hispanic            1517
Other               1178
Asian                497
Name: race, dtype: int64

In [17]:
df['gender'] = df['gender'].replace('Unknown/Invalid', 'Female')

In [18]:
df['gender'].value_counts()

Female    38028
Male      33490
Name: gender, dtype: int64

In [19]:
df['diag_1'] = df['diag_1'].fillna(df['diag_1'].mode())

In [20]:
df['diag_1'].value_counts()

414    5233
428    3980
786    3040
410    2902
486    2439
       ...
653       1
61        1
145       1
148       1
V51       1
Name: diag_1, Length: 696, dtype: int64

In [21]:
df['diag_2'] = df['diag_2'].fillna(df['diag_2'].mode())
df['diag_3'] = df['diag_3'].fillna(df['diag_3'].mode())

### Feature Fix

#### 1. gender

In [22]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

In [24]:
df['gender'].value_counts()

0    38028
1    33490
Name: gender, dtype: int64

#### 2 .age

In [26]:
for i in range(0, 10):
    df['age'] = df['age'].replace('[{}-{})'.format(10*i, 10*(i+1)), 10*i+5)

In [27]:
df['age'].value_counts()

75    18210
65    15960
55    12466
85    11589
45     6878
35     2699
95     1900
25     1127
15      535
5       154
Name: age, dtype: int64

#### 3. max_glu_serum

In [28]:
df['max_glu_serum']=df['max_glu_serum'].replace("None", 0)
df['max_glu_serum']=df['max_glu_serum'].replace("Norm", 1)
df['max_glu_serum']=df['max_glu_serum'].replace(">200", 2)
df['max_glu_serum']=df['max_glu_serum'].replace(">300", 3)
df.max_glu_serum.value_counts()

0    68062
1     1731
2      969
3      756
Name: max_glu_serum, dtype: int64

#### 4. A1Cresult

In [29]:
df['A1Cresult']=df['A1Cresult'].replace("None", 0)
df['A1Cresult']=df['A1Cresult'].replace("Norm", 1)
df['A1Cresult']=df['A1Cresult'].replace(">7", 2)
df['A1Cresult']=df['A1Cresult'].replace(">8", 3)
df.A1Cresult.value_counts()

0    58532
3     6304
1     3791
2     2891
Name: A1Cresult, dtype: int64

#### 5. Drug

In [30]:
df = df.replace('No', 0)
df = df.replace('Down', 1)
df = df.replace('Steady', 2)
df = df.replace('Up', 3)

In [31]:
df.insulin.value_counts()

0    34921
2    22129
1     7505
3     6963
Name: insulin, dtype: int64

#### 6. Change

In [32]:
df['change'] = df['change'].replace('Ch', 1)
df['change'].value_counts()

0    39494
1    32024
Name: change, dtype: int64

#### 7. diabetesMed

In [33]:
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'].value_counts()

1    54319
0    17199
Name: diabetesMed, dtype: int64

#### 8. Target

In [34]:
df['readmitted']=df['readmitted'].replace('NO', 0)
df['readmitted']=df['readmitted'].replace('>30', 1)
df['readmitted']=df['readmitted'].replace('<30', 2)
df.readmitted.value_counts()

0    42985
1    22240
2     6293
Name: readmitted, dtype: int64

#### 9. diag_1

In [37]:
df.loc[df['diag_1'].str.contains('V',na=False,case=False), 'diag_1'] = 0
df.loc[df['diag_1'].str.contains('E',na=False,case=False), 'diag_1'] = 0

In [40]:
df['diag_1'] = df['diag_1'].astype(float)
df['diag_1'].loc[(df['diag_1']>=1) & (df['diag_1']< 140)] = 1
df['diag_1'].loc[(df['diag_1']>=140) & (df['diag_1']< 240)] = 2
df['diag_1'].loc[(df['diag_1']>=240) & (df['diag_1']< 280)] = 3
df['diag_1'].loc[(df['diag_1']>=280) & (df['diag_1']< 290)] = 4
df['diag_1'].loc[(df['diag_1']>=290) & (df['diag_1']< 320)] = 5
df['diag_1'].loc[(df['diag_1']>=320) & (df['diag_1']< 390)] = 6
df['diag_1'].loc[(df['diag_1']>=390) & (df['diag_1']< 460)] = 7
df['diag_1'].loc[(df['diag_1']>=460) & (df['diag_1']< 520)] = 8
df['diag_1'].loc[(df['diag_1']>=520) & (df['diag_1']< 580)] = 9
df['diag_1'].loc[(df['diag_1']>=580) & (df['diag_1']< 630)] = 10
df['diag_1'].loc[(df['diag_1']>=630) & (df['diag_1']< 680)] = 11
df['diag_1'].loc[(df['diag_1']>=680) & (df['diag_1']< 710)] = 12
df['diag_1'].loc[(df['diag_1']>=710) & (df['diag_1']< 740)] = 13
df['diag_1'].loc[(df['diag_1']>=740) & (df['diag_1']< 760)] = 14
df['diag_1'].loc[(df['diag_1']>=760) & (df['diag_1']< 780)] = 15
df['diag_1'].loc[(df['diag_1']>=780) & (df['diag_1']< 800)] = 16
df['diag_1'].loc[(df['diag_1']>=800) & (df['diag_1']< 1000)] = 17

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

#### 10. diag_2

In [41]:
df.loc[df['diag_2'].str.contains('V',na=False,case=False), 'diag_2'] = 0
df.loc[df['diag_2'].str.contains('E',na=False,case=False), 'diag_2'] = 0

In [42]:
df['diag_2'] = df['diag_2'].astype(float)
df['diag_2'].loc[(df['diag_2']>=1) & (df['diag_2']< 140)] = 1
df['diag_2'].loc[(df['diag_2']>=140) & (df['diag_2']< 240)] = 2
df['diag_2'].loc[(df['diag_2']>=240) & (df['diag_2']< 280)] = 3
df['diag_2'].loc[(df['diag_2']>=280) & (df['diag_2']< 290)] = 4
df['diag_2'].loc[(df['diag_2']>=290) & (df['diag_2']< 320)] = 5
df['diag_2'].loc[(df['diag_2']>=320) & (df['diag_2']< 390)] = 6
df['diag_2'].loc[(df['diag_2']>=390) & (df['diag_2']< 460)] = 7
df['diag_2'].loc[(df['diag_2']>=460) & (df['diag_2']< 520)] = 8
df['diag_2'].loc[(df['diag_2']>=520) & (df['diag_2']< 580)] = 9
df['diag_2'].loc[(df['diag_2']>=580) & (df['diag_2']< 630)] = 10
df['diag_2'].loc[(df['diag_2']>=630) & (df['diag_2']< 680)] = 11
df['diag_2'].loc[(df['diag_2']>=680) & (df['diag_2']< 710)] = 12
df['diag_2'].loc[(df['diag_2']>=710) & (df['diag_2']< 740)] = 13
df['diag_2'].loc[(df['diag_2']>=740) & (df['diag_2']< 760)] = 14
df['diag_2'].loc[(df['diag_2']>=760) & (df['diag_2']< 780)] = 15
df['diag_2'].loc[(df['diag_2']>=780) & (df['diag_2']< 800)] = 16
df['diag_2'].loc[(df['diag_2']>=800) & (df['diag_2']< 1000)] = 17

#### 11. diag_3

In [43]:
df.loc[df['diag_3'].str.contains('V',na=False,case=False), 'diag_3'] = 0
df.loc[df['diag_3'].str.contains('E',na=False,case=False), 'diag_3'] = 0

In [44]:
df['diag_3'] = df['diag_3'].astype(float)
df['diag_3'].loc[(df['diag_3']>=1) & (df['diag_3']< 140)] = 1
df['diag_3'].loc[(df['diag_3']>=140) & (df['diag_3']< 240)] = 2
df['diag_3'].loc[(df['diag_3']>=240) & (df['diag_3']< 280)] = 3
df['diag_3'].loc[(df['diag_3']>=280) & (df['diag_3']< 290)] = 4
df['diag_3'].loc[(df['diag_3']>=290) & (df['diag_3']< 320)] = 5
df['diag_3'].loc[(df['diag_3']>=320) & (df['diag_3']< 390)] = 6
df['diag_3'].loc[(df['diag_3']>=390) & (df['diag_3']< 460)] = 7
df['diag_3'].loc[(df['diag_3']>=460) & (df['diag_3']< 520)] = 8
df['diag_3'].loc[(df['diag_3']>=520) & (df['diag_3']< 580)] = 9
df['diag_3'].loc[(df['diag_3']>=580) & (df['diag_3']< 630)] = 10
df['diag_3'].loc[(df['diag_3']>=630) & (df['diag_3']< 680)] = 11
df['diag_3'].loc[(df['diag_3']>=680) & (df['diag_3']< 710)] = 12
df['diag_3'].loc[(df['diag_3']>=710) & (df['diag_3']< 740)] = 13
df['diag_3'].loc[(df['diag_3']>=740) & (df['diag_3']< 760)] = 14
df['diag_3'].loc[(df['diag_3']>=760) & (df['diag_3']< 780)] = 15
df['diag_3'].loc[(df['diag_3']>=780) & (df['diag_3']< 800)] = 16
df['diag_3'].loc[(df['diag_3']>=800) & (df['diag_3']< 1000)] = 17

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71518 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      69570 non-null  object
 1   gender                    71518 non-null  int64
 2   age                       71518 non-null  int64
 3   admission_type_id         71518 non-null  int64
 4   discharge_disposition_id  71518 non-null  int64
 5   admission_source_id       71518 non-null  int64
 6   time_in_hospital          71518 non-null  int64
 7   num_lab_procedures        71518 non-null  int64
 8   num_procedures            71518 non-null  int64
 9   num_medications           71518 non-null  int64
 10  number_outpatient         71518 non-null  int64
 11  number_emergency          71518 non-null  int64
 12  number_inpatient          71518 non-null  int64
 13  diag_1                    71507 non-null  float64
 14  diag_2                    71225 non-null  float64
 15  diag_3                    70294 non-null  float64
 16  number_diagnoses          71518 non-null  int64
 17  max_glu_serum             71518 non-null  int64
 18  A1Cresult                 71518 non-null  int64
 19  metformin                 71518 non-null  int64
 20  glimepiride               71518 non-null  int64
 21  glipizide                 71518 non-null  int64
 22  glyburide                 71518 non-null  int64
 23  pioglitazone              71518 non-null  int64
 24  rosiglitazone             71518 non-null  int64
 25  insulin                   71518 non-null  int64
 26  change                    71518 non-null  int64
 27  diabetesMed               71518 non-null  int64
 28  readmitted                71518 non-null  int64
dtypes: float64(3), int64(25), object(1)
memory usage: 16.4+ MB